
/* Flexbox used to layout Company Background page */
.container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cpHeading {
  display: block;
  width: 100%;
}

.cpImageGroup2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cpImageGroup2A,
.cpImageGroup2B,
.cpImageGroup2C,
.cpImageGroup2D {
  width:23%;
}



body {
  padding: 0;
  margin: 0;
  background: #262626;
}

h1 {
text-align: center;
margin-top: 30px;
}

.container2 {
  margin: 0 5% 5% 5%;
}

.row {
  display: flex;
}

.col {
  flex: 20%;
  padding: 5px;
}

.tnImage {
  width: 80%;
  height: auto;
  border: 1px solid white;
  display: block;
  margin-left: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.tnImage:hover {
opacity: 90%;
}

.desc {
  width: 80%;
  display: block;
  font-size: .7em;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.displayImage img{
  width: 100%;
  height: auto;
  border: 1px solid white;
  margin-top: 40px;
  background-size: cover;
}

.prodTextInfo {
  width: 80%;
  margin-top: 50px;
}

.topText {
  margin-bottom: 20px;
  font-size: 1em;
}
.seperator {
  margin-top: 50px;
  margin-bottom: 50px;
}

.imgandtext{
  display: flex;
}

.prodResult {
 width: 100%;
}

.bottomText {
  margin: 0 10px 0 50px;
  font-size: .8em;
}

.fade-in {
  animation: fadeIn ease 4000ms;
  -webkit-animation: fadeIn ease 4000ms;
  -moz-animation: fadeIn ease 4000ms;
  -o-animation: fadeIn ease 4000ms;
  -ms-animation: fadeIn ease 4000ms;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* Production page Bottom image and text alignment at smaller sizes */
@media screen and (max-width: 1000px) {

  .prodTextInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;  
  }

  .imgandtext{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
  } 

  .prodResult img {
    align-items: center;
    width: 100%;
  }

  .bottomText {
    font-size: .7em;
    margin: 50px 0 50px 0;
    width: 100%;
  }

}

