@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --pastelGrey: #262626;
  --pastelDarkBlue: #4D6D9A;
  --pastelBluey: #86B3D1;
  --pastelLightBlue: #99cED3;
  --pastelPink: #EdB58F;
}

Body{
  background: var(--pastelGrey);
  font-size: 22px;
  line-height: 32px;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  word-wrap: break-word !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}


/* ### Navigation Menu Styling ### */
#navbar {
  margin: 0;
  padding: 0;
  background-color: var(--pastelDarkBlue);
}

#logoA:hover {
  background-color: var(--pastelDarkBlue);
}

a {
  color:var(--pastelBluey);
}

.tier2 {
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 10px;
}

p {
  text-align: center;
}

.toggle,
[id^=drop] {
  display: none;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

#main-toggle {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.nav-icon {
  background: var(--pastelPink);
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.nav-icon::before,
.nav-icon::after {
  background: var(--pastelPink);
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

.nav-icon::before {
  top: 5px;
}

.nav-icon::after {
  top: -5px;
}

nav::after {
  content: "";
  display:table;
  clear:both;
}

Nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0;
  float: left;
  background-color: var(--pastelDarkBlue);
}

nav a {
  display: block;
  padding: 0;
  color: var(--pastelLightBlue);
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li:hover {
  background-color:var(--pastelGrey);
}

nav a:hover {
  background-color: var(--pastelGrey);
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul ul li {
  width: 190px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul li:hover>ul {
  display: inherit;
}

li>a:after {
  content: ' +';
}

li>a:only-child:after {
  content: '';
}


 /* ##### Form Styling ##### */
.input-group,
.inputBox,
.form-control {
  justify-self: center;
}

.form-control {
  width: 300px;
  align-content: center;
}


/* Button Styling */
.buttonDiv{
  display: block;
  text-align: center;
  margin-right: 20px;
}

.btnPrimary {
  border: 3px solid var(--pastelLightBlue);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; 
  cursor: pointer;
  margin: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btnPrimary:hover {
  color: #fff;
}

.btnPrimary::before {
  content:'';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pastelDarkBlue);
  z-index: -1;
  transition: 0.8s;
}

.btnPrimary::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btnPrimar:hover::before {
  height: 180%;
}

/* Footer Styling */
.footerDiv {
  height: 30px;
  background: var(--pastelPink);
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 6px;
}

.footerDiv P {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: var(--pastelDarkBlue);
  font-size: .8em;
}


/* Company Mission specific styling*/
.companyMissionInfoContainer {
  margin: 0 10% 10% 10%;
  justify-content: left;
}


/* Mobile size screen styling css */
@media screen and (max-width: 500px) and (min-width: 50px) {
  
  Body {
    font-size: 10px;
  }


  /* ### Nav Menu ### */
  .titleW {
    position: absolute;
    padding-top: 55px;
    padding-left: 10px;
    font-size: 1em;
    color: white;
  }

  #logo {
    padding: 0 10px;
    float: left;
    font-size: 20px;
    line-height: 60px;
  }

  #logoImage {
    border: 2px solid transparent;
    margin-top: 20px;
    border-radius: 10%;
  }

  #logoImage:hover {
    transition: ease-in-out 250ms;
    border: 2px solid var(--pastelPink);
  }

  .current,
  #current {
    border: 3px solid var(--pastelPink);
  }

  nav a {
    padding-left: 5px;
    font-size: 10px;
    line-height: 30px;
  }

  #navbar {
    margin: 0;
    width: 100%;
    border-bottom: 2px solid var(--pastelDarkBlue);
  }

  nav ul {
    float: none;
  }

  .toggle+a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    background-color: var(--pastelDarkBlue);
    color: var(--pastelLightBlue);
    font-size: 10px;
    line-height: 30px; 
    text-decoration: none;
    border: none;
    padding-left: 5px;

  }

  #main-toggle {
    margin-top: 35px;
    background-color: var(--pastelDarkBlue);
  }

  .toggle:hover {
    background-color: var(--pastelGrey);
  }

  [id^=drop]:checked+ul {
    display: block;
  }

  nav ul li {
    displaY: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: var(--pastelDarkBlue)
  }

  nav ul ul {
    float: none;
    position: static;
    color: var(--pastelLightBlue);
  }

  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }


  /* ### Mobile Page Layout ###    */
  .grid {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, auto);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "a a a a a a"
      "f f f f f f"
      "c c c c c c"
      "b b b b b b"
      "e e e e e e"
      "d d d d d d"
      "g g g g g g"
      ". h h h h ."
      ". . i i . .";
  }

  .mainPicture {
    grid-area: a;
  }
  
  .mainPicture img {
    width: 300px;
    height: auto;
    margin-top: 25px;
  }

  .contentBottomText {
    grid-area: f;
    line-height: 1.5em;
    margin: 0 10%;
  }

  .topPic {
    grid-area: c;
    margin-top: 40px;
  }
  
  .topPicText {
    grid-area: b;
  }
  
  .bottomPic {
    grid-area: e;
    margin-top: 40px;
  }
  
  .bottomPicText {
    grid-area: d;
  }

  .contentBottomEmailInstruct {
    grid-area: g;
    margin-top: 50px;
    line-height: 1.3em;;
  }
  
  .inputBox {
    grid-area: h;
    width: 100%;
  }
  
  .buttonDiv {
    grid-area: i;
  }

  /* Form Styling */
  .input-group,
  .inputBox,
  .form-control {
    justify-self: center;
  }

  .form-control {
    width: 100%;
    align-content: center;
  }


  /* Button Styling */
  .buttonDiv{
    margin-right: 0;
  }

  /* Footer Styling */

.footerDiv P {
  font-size: .5em;
}


  /* ##### Flexbox used to layout Company Background page #### */
  
  .container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .cpHeading h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pastelPink);
  }
  
  .cpText1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cpTextp1,
  .cpTextp2,
  .cpTextp3,
  .cpTextp4 {
    line-height: 1.3em;
    margin-bottom: 20px;
    padding: 5%;
    padding-top: 0;
  }

  .cpImage1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .cpImageGroup2,
  .cpImageGroup2A,
  .cpImageGroup2B,
  .cpImageGroup2C,
  .cpImageGroup2D {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }

  #designImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
  }

  .picture3 {
    width: 100%;
    height: auto;
    margin: 10px;
  }
}

/* ### Added a very small sizing adjustment to keep the page readable #### */

@media screen and (max-width: 275px) {

  .titleW {
    display: none;
  }

  .mainPicture img {
    width: 200px;
  }

  .footerDiv P {
    font-size: .3em;
  }

}


/* Tablet size screen styling */
@media (max-width: 800px) and (min-width: 501px) {
  
  Body {
    font-size: 15px;
    background:var(--pastelGrey);
  }
  

  /* ### Nav Menu ### */
    .titleW {
    position: absolute;
    padding-top: 55px;
    padding-left: 20px;
    font-size: 1.2em;
    color: white;
  }


  #logo {
    padding: 0 10px;
    float: left;
    font-size: 20px;
    line-height: 60px;
  }

  #logoA {
    padding-left: 0;
  }

  #logoImage {
    border: 2px solid transparent;
    margin-top: 20px;
    width: 110px;
    height: auto;
  }

  #logoImage:hover {
    transition: ease-in-out 250ms;
    border: 2px solid var(--pastelPink);
  }

  .current,
  #current {
    border: 3px solid var(--pastelPink);
  }

  nav a {
    padding-left: 5px;
  }

  #navbar {
    margin: 0;
    width: 100%;
    border-bottom: 2px solid var(--pastelDarkBlue);
  }

  nav ul {
    float: none;
  }

  .toggle+a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    background-color: var(--pastelDarkBlue);
    color: var(--pastelLightBlue);
    font-size: 20px;
    line-height: 60px; 
    text-decoration: none;
    border: none;
    padding-left: 5px;
  }

  #main-toggle {
    margin-top: 55px;
    background-color: var(--pastelDarkBlue);
  }

  .toggle:hover {
    background-color: var(--pastelGrey);
  }

  [id^=drop]:checked+ul {
    display: block;
  }

  nav ul li {
    displaY: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: var(--pastelDarkBlue)
  }

  nav ul ul {
    float: none;
    position: static;
    color: var(--pastelLightBlue);
  }

  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }


  /* ### Tablet Layout CSS ### */
  .grid {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "a a a a a a a"
      "f f f f f f f"
      "c c c . e e e"
      "c c c . e e e"
      "b b b . d d d"
      "g g g g g g g"
      ". h h h h h ."
      ". . . i . . ."
  }

  .mainPicture {
    grid-area: a;
  }
  
  .mainPicture img {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .contentBottomText {
    grid-area: f;
    line-height: 1.5em;
    margin: 0 6%;
  }

  .topPic {
    grid-area: c;
    margin-top: 40px;
    width: 200px;
    height: auto;
    justify-content: right;
  }
  
  .topPicText {
    grid-area: b;
  }
  
  .bottomPic {
    grid-area: e;
    margin-top: 40px;
  }
  
  .bottomPicText {
    grid-area: d;
  }

  .contentBottomEmailInstruct {
    grid-area: g;
    margin-top: 50px;
    line-height: 1.3em;;
  }
  
  .inputBox {
    grid-area: h;
    width: 100%;
  }
  
  .buttonDiv {
    grid-area: i;
  }
  
  .buttonDiv{
    margin-right: 0;
  }


   /* ##### Flexbox used to layout Company Background page #### */
  
   .container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .cpHeading h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pastelPink);
  }
  
  .cpText1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cpTextp1,
  .cpTextp2,
  .cpTextp3,
  .cpTextp4 {
    line-height: 1.3em;
    margin-bottom: 20px;
    padding: 5%;
    padding-top: 0;
  }

  .cpImage1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
    
  .cpImageGroup2,
  .cpImageGroup2A,
  .cpImageGroup2B,
  .cpImageGroup2C,
  .cpImageGroup2D {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }

  #designImage {
    width: 90%;
    height: auto;
  }

  .picture3 {
    width: 100%;
    height: auto;
    margin: 10px;
  }


  /* #### Footer Styling #### */

  .footerDiv P {
    font-size: .6em;
  }

}



/* Laptop size styling */
@media (min-width: 801px) {
  
  Body {
    font-size: 20px;    background: var(--pastelGrey);
  }
  
  /* ### Nav Menu ### */
    .titleW {
    position: absolute;
    padding-top: 55px;
    padding-left: 20px;
    font-size: 1.2em;
    color: white;
    max-width: 100px;
    line-height: 1.2em;;
  }
  
  #logo {
    padding: 0;
    padding-left: 5px;
    float: left;
    font-size: 20px;
    line-height: 60px;
  }

  #logoA {
    padding: 0;
  }

  #logoImage {
    border: 2px solid transparent;
    margin-top: 5px;
    width: 130px;
    height: auto;
  }

  #logoImage:hover {
    transition: ease-in-out 250ms;
    border: 2px solid var(--pastelPink);
  }

  .current {
    border: 3px solid var(--pastelPink);
  }

  nav a {
    padding: 10px;
    font-size: 15px;
    }

  #navbar {
    margin: 0;
    width: 100%;
    border-bottom: 2px solid var(--pastelDarkBlue);
  }

  nav ul {
    float: right;
  }

  .menu {
    margin-top: 37px;
    margin-right: 10px;
  }
  

  /* ### Tablet Layout CSS ### */
  .grid {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, auto);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "a a a a a a a"
      "f f f f f f f"
      "c c c . e e e"
      "c c c . e e e"
      "b b b . d d d"
      "g g g g g g g"
      ". h h h i i ."
    }

  .mainPicture {
    grid-area: a;
  }
  
  .mainPicture img {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .contentBottomText {
    grid-area: f;
    line-height: 1.5em;
    margin: 0 6%;
  }

  .topPic {
    grid-area: c;
    margin-top: 40px;
    width: 200px;
    height: auto;
    justify-content: right;
  }
  
  .topPicText {
    grid-area: b;
  }
  
  .bottomPic {
    grid-area: e;
    margin-top: 40px;
  }
  
  .bottomPicText {
    grid-area: d;
  }

  .contentBottomEmailInstruct {
    grid-area: g;
    margin-top: 50px;
    line-height: 1.3em;;
  }
  
  .inputBox {
    grid-area: h;
    width: 100%;
  }
  
  .buttonDiv {
    grid-area: i;
  }
  
  .buttonDiv{
    margin-right: 0;
  }

  /* ### Flexbox used to layout Company Background page for Laptop size ### */
  .container2 {
    font-size: 20px;
  }

  .cpHeading h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pastelPink);
    flex-basis: 100%;
    margin: 50px 0;
  }

  .cpHeading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .cpText1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 48%;
    align-self: center;
    padding: 1%;
    font-size: 15px;
    line-height: 1.2em;
   }
  
  .cpImage1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 48%;
    align-self: center;
    padding: 1%;
  }

  .cpTextp2 {
    padding: 5%;
    background-color: var(--pastelLightBlue);
    color: var(--pastelDarkBlue);
  }

  .cpTextp3 {
    padding: 5%;
    background-color: var(--pastelGrey);
  }

  .cpImageGroup2A,
  .cpImageGroup2B,
  .cpImageGroup2C,
  .cpImageGroup2D, 
  .cpImageGroup2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60%;
  }

  .picture3 {
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .cpText4 {
    padding: 5%;
    background-color: var(--pastelLightBlue);
    color: var(--pastelDarkBlue);
  }

}

@media (min-width: 1101px) {

  .titleW {
    max-width: 150px;
  }

  nav a {
    padding: 18px;
    font-size: 21px;
  }


  .cpText1 {
    font-size: 20px;
    line-height: 1.3em;
   }

}
  