@media (max-width: 800px) and (min-width: 501px) {
  
  :root {
    /* --pastelGrey: #5F6366; */
    --pastelGrey: #262626;
    --pastelDarkBlue: #4D6D9A;
    --pastelBluey: #86B3D1;
    --pastelLightBlue: #99cED3;
    --pastelPink: #EdB58F;
  }

  Body {
    font-size: 15px;
    background:var(--pastelGrey);
  }
  

  /* ### Nav Menu ### */
    .titleW {
    position: absolute;
    padding-top: 55px;
    padding-left: 20px;
    font-size: 1.2em;
    color: white;
  }


  #logo {
    padding: 0 10px;
    float: left;
    font-size: 20px;
    line-height: 60px;
  }

  #logoA {
    padding-left: 0;
  }

  #logoImage {
    border: 2px solid transparent;
    margin-top: 20px;
    width: 110px;
    height: auto;
  }

  #logoImage:hover {
    transition: ease-in-out 250ms;
    border: 2px solid var(--pastelPink);
  }


  .current,
  #current {
    border: 3px solid var(--pastelPink);
  }

  nav a {
    padding-left: 5px;
  }

  #navbar {
    margin: 0;
    width: 100%;
    border-bottom: 2px solid var(--pastelDarkBlue);
  }

  nav ul {
    float: none;
  }

  .toggle+a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    background-color: var(--pastelDarkBlue);
    color: var(--pastelLightBlue);
    font-size: 20px;
    line-height: 60px; 
    text-decoration: none;
    border: none;
    padding-left: 5px;
  }

  #main-toggle {
    margin-top: 55px;
    background-color: var(--pastelDarkBlue);
  }

  .toggle:hover {
    background-color: var(--pastelGrey);
  }

  [id^=drop]:checked+ul {
    display: block;
  }

  nav ul li {
    displaY: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: var(--pastelDarkBlue)
  }

  nav ul ul {
    float: none;
    position: static;
    color: var(--pastelLightBlue);
  }

  nav ul ul li:hover>ul,
  nav ul li:hover>ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }


  /* ### Tablet Layout CSS ### */
  .grid {
    height: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, auto);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "a a a a a a a"
      "f f f f f f f"
      "c c c . e e e"
      "c c c . e e e"
      "b b b . d d d"
      "g g g g g g g"
      ". h h h h h ."
      ". . . i . . ."
  }

  .mainPicture {
    grid-area: a;
  }
  
  .mainPicture img {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .contentBottomText {
    grid-area: f;
    line-height: 1.5em;
    margin: 0 6%;
  }

  .topPic {
    grid-area: c;
    margin-top: 40px;
    width: 200px;
    height: auto;
    justify-content: right;
  }
  
  .topPicText {
    grid-area: b;
  }
  
  .bottomPic {
    grid-area: e;
    margin-top: 40px;
  }
  
  .bottomPicText {
    grid-area: d;
  }

  .contentBottomEmailInstruct {
    grid-area: g;
    margin-top: 50px;
    line-height: 1.3em;;
  }
  
  .inputBox {
    grid-area: h;
    width: 100%;
  }
  
  .buttonDiv {
    grid-area: i;
  }
  
  .buttonDiv{
    margin-right: 0;
  }


   /* ##### Flexbox used to layout Company Background page #### */
  
   .container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .cpHeading h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pastelPink);
  }
  
  .cpText1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cpTextp1,
  .cpTextp2,
  .cpTextp3,
  .cpTextp4 {
    line-height: 1.3em;
    margin-bottom: 20px;
    padding: 5%;
    padding-top: 0;
  }

  .cpImage1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
    
  .cpImageGroup2,
  .cpImageGroup2A,
  .cpImageGroup2B,
  .cpImageGroup2C,
  .cpImageGroup2D {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }

  #designImage {
    width: 90%;
    height: auto;
  }

  .picture3 {
    width: 100%;
    height: auto;
    margin: 10px;
  }


  /* #### Footer Styling #### */

  .footerDiv P {
    font-size: .6em;
  }


}