@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --pastelGrey: #262626;
  --pastelDarkBlue: #4D6D9A;
  --pastelBluey: #86B3D1;
  --pastelLightBlue: #99cED3;
  --pastelPink: #EdB58F;
}

body {
  margin: auto;
  background: var(--pastelDarkBlue);
  color: white;
}

#container {
  width: 40%;
  min-width: 320px;
  padding-top: 5px;
  margin: 10px auto 0;
  border: 2px solid black;
  background: var(--pastelGrey);
}

#container4 {
  width: 80%;
  min-width: 801px;
  padding-top: 5px;
  margin: 10px auto 0;
  border: 2px solid black;
  background: var(--pastelGrey);
}

.loginSection,
.cartSection {
  text-align: center;
}

.logo  {
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.otherOptions {
  padding-bottom: 20px;
}

.errors {
  font-size: .6em;
  color: var(--pastelGrey);
  border: 1px solid red;
  background-color: var(--pastelBluey);
  padding-top: 5px;
  margin-top: 5px;
}

.errors ul {
  list-style-type: none;
}

.registerText {
  padding: 0 10%;
  margin: 0 0 10px 0;
}

.buttons a {
  padding: 10px;
}

#justReged {
  padding: 15px;
  background-color: var(--pastelDarkBlue);
  margin: 5% 10% 5% 10%;
}

.formSection {
  margin: 3%;
}

.customerSection {
  padding-bottom: 5px;
}

.memberInfo {
  border-top: 1px solid var(--pastelDarkBlue);
}


/* button styling */
.btn {
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: var(--pastelLightBlue);
  border-radius: 10%;
  cursor: pointer; 
}

.buttons {
  text-align: center;
}

.cancelButton {
  background-color: var(--pastelPink);
  border-radius: 10%;
  border: 1px solid red;
  padding: 10px;
  width: 50%;
  cursor: pointer;
}

#regobtn {
  background-color: var(--pastelDarkBlue);
  cursor: pointer;
}

#loginbtn {
  background-color: var(--pastelBluey);
  border: 2px solid var(--pastelPink);
}

#clrBtn {
  background-color: var(--pastelBluey);
  border: 2px solid var(--pastelPink);
  height: 30px;
}

/* ### Cart item list styling ### */
#cartDiv {
  margin: auto;
  align-content: center;
}

#cartTableHeaderRow {
  border: 1px solid var(--pastelPink);
  width: 90%;
  align-items: center;
  margin: auto;
}

#cartTableHeaderRow, 
.tableHeading,
td {
  border: 1px solid var(--pastelPink);
  padding: 5px;
  height: 70px;
 }

 td {
   padding: 15px;
 }

 #td1 {
   width: 15%;
   padding: 10px;
 }

 #td2 {
  width: 50%;
}

#td3 {
  width: 8%;
}

#td4 {
  width: 8%;
}

#td5 {
  width: 8%;
}

#td6 {
  width: 5%;
}

#td1, #td2, #td3, #td4, #td5, #td6 {
  height: 70px;
  margin: 0px;
}

.cancelImg {
  max-width: 20px;
  cursor: pointer;
}

#cartActions,
#confirmButtonsDiv {
  text-align: center;
  margin: 30px auto;
}

#cartActions a,
#confirmButtonsDiv a {
  margin-left: 10px;
  margin-right: 10px;
}

#orderBtn {
  background-color: darkgreen;
  font-weight: 800;
}

#totalPriceDiv p {
  width: 30%;
  margin-left: 60%;
  margin-right: 10%;
  text-align: center;
  background-color: var(--pastelDarkBlue);
  font-size: 1.5rem;
}